<div class="templatemo-content-container">
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-2">
            <i class="fa fa-user fa-2x"></i>
            <h2 class="templatemo-inline-block">User Information</h2>
            <hr>
            <div class="table-responsive">
                <form class="form-group-sm" method="post" action="{$url}">
                <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td>No.</td>
                            <td>{$userinfo[0]['id']}<input name="user[id]" type="hidden" value="{$userinfo[0]['id']}"></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" value="{$userinfo[0]['name']}" name="user[name]"></td>
                        </tr>
                        <tr>
                            <td>Sex:</td>
                            <td><input type="text" value="{$userinfo[0]['sex']}" name="user[sex]"></td>
                        </tr>
                        <tr>
                            <td>Job:</td>
                            <td><input type="text" value="{$userinfo[0]['job']}" name="user[job]"></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" value="{$userinfo[0]['email']}" name="user[email]"></td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>LastLoginTime</td>-->
                        <!--<td><input type="text" value="{:date('Y-m-d H:i:s',$userinfo[0]['logintime'])}"></td>-->
                        <!--</tr>-->
                        <tr>
                            <td>Access:</td>
                            <td>
                                <select size="1" id="access" name="user[access]">
                                    <volist name="role" id="role">
                                        <option>{$role}</option>
                                    </volist>
                                </select>
                            </td>
                            <!--<td><input type="" value="{$userinfo[0]['remark']}"></td>-->
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <select size="1" id="status" name="user[status]">
                                    <!--<if condition="$userinfo[0]['status'] eq 1">-->
                                    <!--<option selected>启用</option>-->
                                    <!--<option>禁用</option>-->
                                    <!--<elseif condition="$userinfo[0]['status'] eq 0" /><option>启用</option><option selected>禁用</option>-->
                                    <!--</if>-->
                                    <option>启用</option>
                                    <option>禁用</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Describtion</td>
                            <td>
                                <textarea rows="2" wrap="hard" name="user[describtion]">{$userinfo[0]['describtion']}</textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <button type="submit" class="templatemo-white-button" style="float: right">提交</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    var options=document.getElementsByTagName('option');
    for(var i=0;i<options.length;i++){
        if(options[i].innerHTML=="{$userinfo[0]['remark']}"){
            options[i].selected=true;
        }
    }
    var length=options.length;
    var status={$userinfo[0]['status']};
    if({$userinfo[0]['status']}==1){
    options[length-2].selected=true;
    }else if({$userinfo[0]['status']}==0){
    options[length-1].selected=true;
    }

</script>