<div class="templatemo-content-container">
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-1 text-center">
            <h2 class="text-uppercase">暂时没有任何课程类型</h2>
            <h3 class="text-uppercase margin-bottom-10">点击添加</h3>
            <!--<img src="/WikeWechat/Public/Visual_Admin/images/add_btn.png">-->
            <a href="{:U('CourseType/addDirection')}"><input type="image" src="http://wikewechat-wike.stor.sinaapp.com/Images%2Fadd_btn.png"
                              class="img-responsive img-thumbnail" width="80" height="80"></a>
        </div>
    </div>
</div>