<script src="/WikeServer/Public/js/wike.js"></script>
<div class="templatemo-content-container">
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-2">
            <i class="fa fa-video-camera fa-2x"></i>
            <h2 class="templatemo-inline-block">Course Chapter</h2>
            <hr>
            <div class="table-responsive">
                <form class="form-group-sm" method="post" action="{:U('Course/createChapter')}">
                    <table class="table table-striped table-bordered" id="table1">
                        <thead>
                        <tr>
                            <td>Chapter Name</td>
                            <td>describtion</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" value="" name="chapter[0][chname]" class="input"></td>
                            <td><textarea rows="2" wrap="hard" name="chapter[0][describtion]" class="input"></textarea>
                                <input type="hidden" value="{$id}" name="chapter[0][cid]">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <span class="fa fa-plus-circle fa-2x" style="float: right;cursor: pointer" id="btn-1"></span>
                    <span class="fa fa-minus-circle fa-2x" style="float: right;cursor: pointer" id="btn-2"></span>
                    <br><br>
                    <button type="submit" class="templatemo-white-button" style="float: right">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#btn-1").click(function () {
            var x = new Number($("#table1 tbody tr").length).toString();
            var name1 = "chapter[x][chname]";
            var str1 = name1.replace('x', x);
            var name2 = "chapter[x][describtion]";
            var str2 = name2.replace('x', x);
            var name3="chapter[x][cid]";
            var str3=name3.replace('x',x);
            $("#table1").append("<tr><td><input type='text' value=''></td><td><textarea rows='2' wrap='hard'></textarea><input type='hidden' value={$id}></td></tr>");
            var att1 = document.createAttribute("name");
            att1.value = str1;
            var att2 = document.createAttribute("name");
            att2.value = str2;
            var tr1 = $("#table1 tbody tr").last().find("input:visible");
            tr1.attr("name", str1);
            var tr2 = $("#table1 tbody tr").last().find("textarea");
            tr2.attr("name", str2);
            var tr3=$("#table1 tbody tr").last().find("input:hidden");
            tr3.attr("name",str3);
        });
        $("#btn-2").click(function () {
            $("#table1 tbody tr").last().remove();
        });
    });
</script>