<script src="/WikeServer/Public/js/wike.js"></script>
<link href="/WikeServer/Public/css/wike.css" rel="stylesheet">
<div class="templatemo-content -container">
    <div class="templatemo-flex-row flex-content-row">
        <div class="templatemo-content-widget white-bg col-2">
            <i class="fa fa-video-camera fa-2x"></i>
            <h2 class="templatemo-inline-block">Course Information</h2>
            <hr>
            <div class="table-responsive">
                <form class="form-group-sm" method="post" action="{:U('Course/createCourse')}" enctype="multipart/form-data">
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" value="" name="course[cname]"></td>
                        </tr>
                        <tr>
                            <td>Direction:</td>
                            <td>
                                <select size="1" name="course[direction]" id="select1">
                                    <option selected="selected" value="0"></option>
                                    <volist name="direction" id="data">
                                        <option value="{$key}">{$data}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Type:</td>
                            <td>
                                <select size="1" name="course[type]" id="select2">
                                    <option selected="selected" value="0"></option>
                                    <volist name="course" id="vo">
                                        <option value="{$vo[id]}" parentid="{$vo[did]}">{$vo[name]}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Difficulty:</td>
                            <td>
                                <select size="1" name="course[clevel]">
                                    <option>初级</option>
                                    <option>中级</option>
                                    <option>高级</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Cover Picture</td>
                            <td>
                                <div class="input-group">
                                    <div tabindex="500" class="form-control" id="input0a"></div>
                                    <div class="input-group-btn">
                                        <div tabindex="500" class="btn btn-primary btn-file">
                                            <i class="glyphicon glyphicon-folder-open"></i>&nbsp;Bowse ...<input type="file" name="image" value="选择图片" id="file-a">
                                        </div>
                                    </div>
                                </div>
                                <p style="color: red">(仅限.jpg、.png、.jpeg格式)</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Chapter:</td>
                            <td>
                                <table class="table table-striped table-bordered" id="table1">
                                    <thead>
                                    <tr>
                                        <td>Chapter Name</td>
                                        <td>describtion</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" value="" name="course[chapter][0][chname]"></td>
                                        <td><textarea rows="2" wrap="hard" name="course[chapter][0][describtion]" class="form-control"></textarea></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <span class="fa fa-plus-circle fa-2x" style="float: right" id="btn1"></span>
                                <span class="fa fa-minus-circle fa-2x" style="float: right" id="btn2"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Describtion</td>
                            <td>
                                <textarea rows="2" wrap="hard" name="course[describtion]" class="form-control"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <button type="submint" class="templatemo-white-button" style="float: right">完成</button>
                </form>
            </div>
        </div>
    </div>
</div>